.Header {
  display: flex;
  width: 1000px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.smallLink {
  margin: 15px;
}

h1 {
  font-size: 60px;
  font-weight: bolder;
  margin: 0px;
  line-height: 30px;
}
br {
  font-size: 1px;
}

.noDeco {
  text-decoration: none;
  color: black;
}

.ku {
  color: rgb(163, 11, 42);
}

.desc {
  font-size: 16px;
}